.generalContainer { /*DIV*/
  width: 100%;
  padding: 4rem;
  background-color: white;
}

.containerSections {/*DIV*/
  padding: 2rem;
  display: flex;
  flex-direction: row;    
  justify-content: space-between;
}

.containerLeft {/*DIV*/
  display: flex;
  flex-direction: row;
  width: 66%;
  justify-content: space-around;
}

.containerRight {/*DIV*/
  display: flex;
  flex-direction: row;
  width: 33%;
}

.paragraph {  /*DIV*/
  padding: 2rem;
  text-align: justify;

}

.paragraph.large { /*DIV*/
  text-align: center;
}

.paragraph.half { /*DIV*/
  padding: 2rem;
  margin: 0rem;
}

.par{
  margin:0
}