.container{
    display: flex;
    background-color: #02989C;
    flex-direction: column;
}

.titleItem{
    color: #ffffff;
    font-size: 5vh;
    font-weight: bold;
}

.textAreaItem{
    color: #ffffff;
    font-size: 2vh;
    justify-content: center;
    text-align: justify;
}

.linkItem{
    color: #ffffff;
    font-size: 10vh;
    justify-content: flex-end;
}